<div class="row item card-panel" data-body="Company Flow">
    <span class="item-body">
        Company Flow
    </span>

        <a class="waves-effect waves-light btn green right" href="#app">Run Test</a>
</div>

<div class="row item card-panel "  data-body="Managers Flow">
    <span class="item-body">
        Managers Flow
    </span>
        <a class="waves-effect waves-light btn green right" href="#app">Run Test</a>
</div>

<div class="row item card-panel hoverable"
      data-body="Contractor Flow">
    <span class="item-body">
        Contractor Flow
    </span>
        <a class="waves-effect waves-light btn blue green right" href="#app">Run Test</a>
</div>


<div class="row item card-panel "
      data-body="Contractor Flow">
    <span class="item-body">
        Check Broken Links
    </span>
        <a class="waves-effect waves-light btn green right" href="#app">Run Test</a>
</div>